<div role="radiogroup" [attr.aria-labelledby]="id" class="button-group">

    <label [attr.id]="id" class="label">{{label}}</label>

    <button role="radio" [attr.ariaChecked]="value === options.YES" type="button"
    class="button button-yes"
    (click)="activate(options.YES)"
    [class.button-pressed]="value === 'yes'">Yes</button>

</div>
<div class="button-group">

    <button role="radio"  [attr.ariaChecked]="value === options.NO" type="button"
    class="button button-no"
    (click)="activate(options.NO)"
    [class.button-pressed]="value === 'no'">No</button>

</div>

