<div 
class="button-group"
role="radiogroup"
[attr.aria-label]="label"
>
    <label>{{label}}</label>
    <div class="radio">
        <input [attr.id]="id + '-yes'"
        type="radio"
        [attr.name]="id"
        [attr.checked]="value === options.YES"
        (change)="activate(options.YES)"
        >
        <label [attr.for]="id + '-yes'" class="button button-yes">Yes</label>

    </div>
    <div class="radio">
        <input [attr.id]="id + '-no'"
        type="radio"
        [attr.name]="id"
        [attr.checked]="value === options.NO"
        (change)="activate(options.NO)"
        >
        <label [attr.for]="id + '-no'" class="button button-no">No</label>
        
    </div>
</div>
<!--
<div role="radiogroup" appKm [attr.aria-labelledby]="id" class="button-group">

    <label [attr.id]="id" class="label">{{label}}</label>

    <button appKmItem
    (focused)="activate(options.YES)"
    role="radio"
    [attr.disabled]="disabled ? disabled : null"
    [attr.ariaChecked]="value === options.YES" type="button"
    class="button button-yes"
    (click)="activate(options.YES)"
    [class.button-pressed]="value === 'yes'"
    [attr.tabindex]="value === options.YES || value === null ? 0 : -1">
    Yes</button>

</div>
<div class="button-group">

    <button appKmItem
    (focused)="activate(options.NO)"
    role="radio"
    [attr.disabled]="disabled ? disabled : null"
    [attr.ariaChecked]="value === options.NO" type="button"
    class="button button-no"
    (click)="activate(options.NO)"
    [class.button-pressed]="value === 'no'"
    [attr.tabindex]="value === options.NO || value === null  ? 0 : -1">
    No</button>

</div>

-->